{% extends 'accounts/main.html' %} {% block content %} {% load static %}


<br>
<h3>Transfer Details</h3>
<br>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Details Status</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr>
                    <th>Status :</th>
                    <td>
                        <div class="row">{{transfer.status}}
                            <div class="ml-auto">
                                <a class="btn btn-sm btn-info" href="{% url 'transaction_status' transfer.id 'Pending' %}">Pending</a>
                                <a class="btn btn-sm btn-success" href="{% url 'transaction_status' transfer.id 'Approved' %}">Approved</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'transaction_status' transfer.id 'Rejected' %}">Rejected</a>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th>Completed :</th>
                    <td>
                        <div class="row">{{transfer.completed}}
                            <div class="ml-auto">
                                <a class="btn btn-sm btn-info" href="{% url 'deposit_confirm_after' transfer.id 'Yes' %}">Yes</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'deposit_confirm_after' transfer.id 'No' %}">No</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <thead class="thead-dark">
                        <th scope="col">Transfer Details</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Transfer ID :</th>
                            <td>{{transfer}}</td>
                        </tr>
                        <tr>
                            <th>Transfer User :</th>
                            <td>
                                <a href="{% url 'user_details' transfer.customer.id %}"> {{transfer.customer}}</a>
                                <br>{{transfer.customer}}
                            </td>
                        </tr>
                        <tr>
                            <th>Transfer Amount :</th>
                            <td>RM: {{transfer.amount}}</td>
                        </tr>
                        <tr>
                            <th>Transfer Games from :</th>
                            <td>
                                <div class="row">
                                    <div class="col">

                                        {{transfer.game.game_name}}
                                    </div>
                                    <div class="col">
                                        <b>Username:</b>{{transfer.game.username}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Transfer Games to :</th>
                            <td>
                                <div class="row">
                                    <div class="col">

                                        {{transfer.game2.game_name}}
                                    </div>
                                    <div class="col">
                                        <b>Username: </b> {{transfer.game2.username}}
                                    </div>
                                </div>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <th>Transfer Message :</th>
                            <td><textarea name="" id="" cols="40" rows="5"></textarea></td>
                        </tr>
                        <tr>
                            <th>Transfer Date :</th>
                            <td>{{transfer.date_created}}</td>
                        </tr>
                    </tbody>

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Action Details</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Created Date :</th>
                            <td>{{transfer.date_created}}</td>
                        </tr>
                        <tr>
                            <th>Approved Date :</th>
                            <td>{{transfer.action_approve}}</td>
                        </tr>
                        <tr>
                            <th>Rejected Date :</th>
                            <td>{{transfer.action_reject}}</td>
                        </tr>
                        <tr>
                            <th>Completed Date :</th>
                            <td>{{transfer.action_complete}}</td>
                        </tr>
                    </tbody>
        </table>

    </div>









    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">User Profile</th>
                <th scope="col"></th>

            </thead>
            <tbody>
                <tr>
                    <!-- Customer Profile -->
                    <th>Username :</th>
                    <td>
                        <a href="{% url 'user_details' transfer.customer.id %}"> {{customer.name}}</a>
                        <br>{{customer.name}}
                    </td>
                </tr>
                <tr>
                    <th>Customer Phone :</th>
                    <td>{{customer.phone}}</td>
                </tr>
                <tr>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Game Info</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Game</th>
                            <th>Username</th>
                        </tr>
                        {% for game in customergame %}
                        <tr>
                            <th>{{game.game_name}}</th>
                            <th>{{game.username}}</th>
                        </tr>

                        {% endfor %}

                    </tbody>
        </table>
    </div>
</div>
{% endblock %}