{% extends 'accounts/main.html' %} {% block content %} {% load static %}


<br>
<h3>Withdrawal Details</h3>
<br>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Details Status</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr>
                    <th>Status :</th>
                    <td>
                        <div class="row">{{withdrawal.status}}
                            <div class="ml-auto">
                                <a class="btn btn-sm btn-info" href="{% url 'transaction_status' withdrawal.id 'Pending' %}">Pending</a>
                                <a class="btn btn-sm btn-success" href="{% url 'transaction_status' withdrawal.id 'Approved' %}">Approved</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'transaction_status' withdrawal.id 'Rejected' %}">Rejected</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Completed :</th>
                    <td>
                        <div class="row">
                            {{withdrawal.completed}}
                            <div class="ml-auto">
                                <a class="btn btn-sm btn-info" href="{% url 'deposit_confirm_after' withdrawal.id 'Yes' %}">Yes</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'deposit_confirm_after' withdrawal.id 'No' %}">No</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <thead class="thead-dark">
                        <th scope="col">withdrawal Details</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Withdrawal ID :</th>
                            <td>{{withdrawal}}</td>
                        </tr>
                        <tr>
                            <th>Withdrawal User :</th>
                            <td>
                                <a href="{% url 'user_details' withdrawal.customer.id %}"> {{withdrawal.customer}}</a>
                                <br>{{withdrawal.customer}}
                            </td>
                        </tr>
                        <tr>
                            <th>Withdrawal Amount :</th>
                            <td>RM: {{withdrawal.amount}}</td>
                        </tr>
                        <tr>
                            <th>Withdrawal Games :</th>
                            <td>{{withdrawal.game.game_name}}</td>
                        </tr>
                        <tr>
                            <th>Withdrawal Games Username :</th>
                            <td>{{withdrawal.game.username}}</td>
                        </tr>
                        <tr>
                            <th>Withdrawal Message :</th>
                            <td><textarea name="" id="" cols="40" rows="5"></textarea></td>
                        </tr>
                        <tr>
                            <th>Withdrawal Bank :</th>
                            <td>{{withdrawal.bank}}</td>
                        </tr>
                        <tr>
                            <th>Withdrawal Date :</th>
                            <td>{{withdrawal.date_created}}</td>
                        </tr>
                    </tbody>

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Action Details</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Created Date :</th>
                            <td>{{withdrawal.date_created}}</td>
                        </tr>
                        <tr>
                            <th>Approved Date :</th>
                            <td>{{withdrawal.action_approve}}</td>
                        </tr>
                        <tr>
                            <th>Rejected Date :</th>
                            <td>{{withdrawal.action_reject}}</td>
                        </tr>
                        <tr>
                            <th>Completed Date :</th>
                            <td>{{withdrawal.action_complete}}</td>
                        </tr>
                    </tbody>
        </table>

    </div>









    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">User Profile</th>
                <th scope="col"></th>

            </thead>
            <tbody>
                <tr>
                    <!-- Customer Profile -->
                    <th>Username :</th>
                    <td>
                        <a href="{% url 'user_details' withdrawal.customer.id %}"> {{customer.name}}</a>
                        <br>{{customer.name}}
                    </td>
                </tr>
                <tr>
                    <th>Customer Phone :</th>
                    <td>{{customer.phone}}</td>
                </tr>
                <tr>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Game Info</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Game</th>
                            <th>Username</th>
                        </tr>
                        {% for game in customergame %}
                        <tr>
                            <th>{{game.game_name}}</th>
                            <th>{{game.username}}</th>
                        </tr>

                        {% endfor %}

                    </tbody>
        </table>
    </div>
</div>
{% endblock %}