{% extends 'accounts/main.html' %} {% block content %}
<br>
<div class="row">
    <h3>Action Logs</h3>
</div>
<br>

<div class="m-3">
    <div class="row">
        <table class="table table-bordered mt-4 align-content-center align-items-center text-center ">
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Date & Time</th>
                    <th scope="col ">Action</th>
                    <th scope="col ">ID</th>
                    <th scope="col ">Description</th>
                    <th scope="col ">Remark</th>
                    <th scope="col ">Employee</th>
                </tr>
            </thead>
            <tbody>
                {% for log in profiles %}
                <tr>
                    <th scope="row ">{{ log.id }}</th>
                    <td>{{ log.date_created|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ log.action }}</td>
                    <td></td>
                    <td>{{ log.description }}</td>
                    <td>{{ log.remark }}</td>
                    <td>
                        <div>{{ log.user.username }}</div>
                        <div>{{ log.remote_ip }}</div>
                        <div>{{ log.device }}</div>
                    </td>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Begin -->
    <div class="row flex justify-content-center">
        {% include 'accounts/content/pagination_simple.html' %}    
    </div> 
    <!-- Pagination End -->
</div>

{% endblock content %}