{% extends 'accounts/main.html' %} {% block content %}
<br>
<div class="row">
    <h3>Manage Employee</h3>
    <div class="ml-auto">
        {% if 'employee_add' in positions %}
        <button class="btn btn-primary " type="submit ">Add New</button>
        {% endif %}
    </div>

</div>
<br>




<table class="table table-bordered mt-4 align-content-center align-items-center text-center ">
    <thead>
        <tr>
            <th scope="col ">#</th>
            <th scope="col ">Username</th>
            <th scope="col ">Name</th>
            <th scope="col ">Position</th>
            <th scope="col ">Created Date</th>
            <th scope="col ">Status</th>
            <th scope="col ">Reset Password</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in users %}
        <tr>
            <!-- <th scope="row ">{{ profiles.start_index|add:forloop.counter0 }}</th> -->
            <td>{{profile.id}}</td>
            <td>{{profile}}</td>
            <td>{{profile.last_name}} {{profile.first_name}}</td>
            {% if 'employee_edit' in positions %}
                <td> <a class="btn btn-sm btn-info" href="{% url 'assign_position' profile.id %}">Edit</a> </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{profile.date_joined}}</td>
            {% if profile.is_active == True %}
            <td>Active</td>
            {% else %}
            <td>Inactive</td>
            {% endif %}
            <th scope="col ">Reset Password</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination Begin -->
<div class="row flex justify-content-center">
    {% include 'accounts/content/pagination.html' %}    
</div> 
<!-- Pagination End -->

{% endblock content %}