{% load static %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Phoenix Group</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button> {% include "accounts/navbar/create_customer.html" %}

    <div class="ml-auto">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="btn-group dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopdown="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'reset_password' %}">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>




<!-- navbar 2 -->
<nav class="navbar navbar-expand navbar-dark bg-dark">

    <form action="{% url 'search_user' %}" method="GET" name="search_user">
        <div class="mr-auto">
            <br><a class="btn btn-primary" href="{% url 'kiosks' %}">Kiosks</a>
            <input size="8" type="text" name="name" placeholder="Username">
            <input size="8" type="number" name="phone" placeholder="Tel (Full Only)">
            <input size="8" type="number" name="wechat" placeholder="Wechat">
            <input size="8" type="text" name="game" placeholder="Game User">
            <input size="8" type="text" name="trx" placeholder="TRX ID">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <div class="ml-auto">
        <div class="d-inline-flex text-center" style="min-width: 28rem; max-height: 3rem;">
            <div class="card ml-1 col-md-3 bg-warning ">
                Today
                <br>{{todays_customer}}
            </div>
            <div class="card ml-1 col-md-3 bg-success ">
                Deposit<br>{{todays_deposit}}</div>
            <div class="card ml-1 col-md-3 bg-warning ">
                Yesterday
                <br>{{yesterdays_customer}}
            </div>
            <div class="card ml-1 col-md-3 bg-success ">
                Deposit<br>{{yesterdays_deposit}}</div>
        </div>

    </div>
    </div>

</nav>