{% extends 'accounts/main.html' %} {% block content %}
{% load static %}

<style>
.container {
    padding: 50px 0;
}
.demo {
    width: 100%;
}
.demo > div {
    width: fit-content;
    margin: 50px auto;
}
</style>

<div class="m-3">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
                {% for msg in results %}
                <tr>
                    <td>{{ msg.id }}</td>
                    <td>{{ msg.message }}</td>
                    <td><span style="text-transform:uppercase">{{ msg.status }}</span></td>
                    <td>{{ msg.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row flex justify-content-center">
        <div id="page">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

<script>
    window.onload = (event) => {
        $('#page').Pagination({
                size: "{{ size }}",
                pageShow: 5,
                page: "{{ page }}",
                limit: 10,
            }, function(obj){
                window.location.href = "?page=" + obj.page;
            });
    }
</script>

{% endblock content %}