{% extends 'accounts/main.html' %} {% block content %}{% load static %}
<br>
<div class="row">
    <h3>Manage Referral</h3>
    <div class="ml-auto">
        <a class="btn btn-sm btn-primary " href="{% url 'add_referral' %}">Add New</a>
    </div>

</div>
<br>

<table class="table table-bordered mt-4 align-content-center align-items-center text-center ">
    <thead>
        <tr>
            <th scope="col ">#</th>
            <th scope="col ">Referral Icon</th>
            <th scope="col ">Name</th>
            <!-- <th scope="col ">Order</th> -->
            <th scope="col ">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for referral in referrals %}
        <tr>
            <th scope="row ">{{forloop.counter}}</th>
            <td><img src="{% static 'images/' %}{{referral.image}}" style="width: 50px; height: 50px;"></td>
            <td><a href="{% url 'edit_referral' referral.id %}">{{referral}}</a></td>
            <!-- <td>{{referral.id}}</td> -->
            <td>{{referral.status}}</td> {% endfor %}


    </tbody>
</table>

{% endblock content %}