{% extends 'accounts/main.html' %} {% block content %}
<br>
<div class="row">
    <h3>Manage Game</h3>
    <div class="ml-auto">
        {% if 'game_add' in positions %}
        <a class="btn btn-sm btn-primary " href="{% url 'add_game' %}">Add New</a>
        {% endif %}
    </div>

</div>
<br>

<table class="table table-bordered mt-4 align-content-center align-items-center text-center ">
    <thead>
        <tr>
            <th scope="col ">#</th>
            <th scope="col ">Game Category</th>
            <th scope="col ">Games</th>
            <th scope="col ">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <th scope="row ">{{forloop.counter}}</th>
            <td>{{game.category}}</td>
            {% if 'game_edit' in positions %}
                <td><a href="{% url 'edit_game' game.id %}">{{game.name}}</a></td>
            {% else %}
                <td>{{game.name}}</td>
            {% endif %}
            <td>{{game.status}}</td>


            {% endfor %}
    </tbody>
</table>

{% endblock content %}